<%= define_grid(@grid, show_filters: :always, hide_submit_button: true, hide_reset_button: true, hide_csv_button: true) do |g|

  g.column name: Company.human_attribute_name(:name), attribute: 'name', filter_type: :string, detach_with_id: :name_filter do |c|
    if current_user.content_editor? || current_user.content_editor_plus? || current_user.admin? || current_user.superadmin?
      link_to c.name, controller: "customer_success_panel", action: "show", id: c.id
    else
       c.name
    end
  end

  g.column name: Company.human_attribute_name(:views), attribute: 'views', filter: false

  g.column name: Company.human_attribute_name(:active), attribute: 'active', filter: :boolean, detach_with_id: :active_filter do |company|
    company.active
  end

  g.column name: Company.human_attribute_name(:from_date), attribute: 'from_date', filter: false do |company|
    company.from_date.in_time_zone('Buenos Aires').strftime("%d/%m/%Y")
  end

  g.column name: Company.human_attribute_name(:created_at), attribute: 'created_at', filter: false do |company|
    company.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y")
  end

  g.column in_csv: false, class: "actions_column" do |company|
    buffer = ""
    buffer += '<div class="btn-group btn-group-xs">'
    buffer += link_to '<span class="fa fa-eye"></span>'.html_safe, company_path(company.name_id), class:'btn btn-light btn-xs', target: :_blank
      buffer += button_tag '<span class="sr-only">Toggle Dropdown</span>'.html_safe, type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', class:'btn btn-xs btn-light dropdown-toggle dropdown-toggle-split'
      buffer += '<div class="dropdown-menu">'
        buffer += link_to '<span class="fa fa-edit"></span> Editar'.html_safe, edit_admin_company_path(company), class:'dropdown-item'
        buffer += '<div class="dropdown-divider"></div>'
        if !(current_user.content_editor? || current_user.content_editor_plus?)
          buffer += link_to '<span class="fa fa-trash text-danger"></span> <span class="text-danger">Eliminar</span>'.html_safe, admin_company_path(company), method: :delete, data: { confirm: t('admin.confirm') }, class:'dropdown-item'
        end
        buffer += '</div>'
    buffer += '</div>'
    raw buffer
  end
end%>

<div class="form-row align-items-center">
  <div class="col-2">
    <label for="user">Nombre</label>
    <%= grid_filter @grid, :name_filter %>
  </div>
  <div class="col-2">
    <label for="email">Activa</label>
    <%= grid_filter @grid, :active_filter %>
  </div>
  <div class="col-auto mt-4">
    <button class="wg-external-submit-button btn btn-primary btn-sm" data-grid-name="grid">Filtrar</button>
    <button class="wg-external-reset-button btn btn-link text-secondary btn-sm" data-grid-name="grid">Limpiar filtros</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <%= render_grid(@grid) %>
  </div>
</div>
