<section id="home-companies">
  <h2 class="mg-l-2">
    Conoce las empresas
  </h2>
  <hr>
  <div id="home-companies-container">
  <% Company.last(4).each do |company|%>
    <div id="home-companies-card">
      <a href="<%=company_path(company.name_id)%>">
        <%= image_tag company.cover_photo , :id => "home-company-photo"%>
        <h4 style="background: rgba(0,0,0,0.5); color: white;">
          <%=company.name%>
        </h4>
        <%= image_tag company.logo(:thumbnail) , :id => "home-company-logo", :width => "70", :height => "auto"%>
      </a>
    </div>
  <%end%>
  </div>
</section>