<section id="home-companies">
  <h2 class="mg-l-2">
    Encuentra trabajo
  </h2>
  <hr>
  <div id="home-companies-container">
    <% Job.last(4).each do |job|%>
      <a href="<%=company_job_path(:name_id => job.name_id, :company_name_id => job.company.name_id)%>" class="home_job_card">
        <div id="home-companies-card">
          <%= image_tag job.photo , :id => "home-company-photo"%>
          <h4 style="background: rgba(0,0,0,0.5); color: white;">
            <%=job.name%>
          </h4>
          <%= image_tag job.company.logo , :id => "home-company-logo", :width => "70", :height => "auto"%>
        </div>
      </a>
    <%end%>
  </div>
</section>