<section id="cover">
</section>
<p id="notice"><%= notice %></p>

<%= render 'home_companies' %>
<%= render 'home_jobs' %>

  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
