<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Answers</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed dailyTable table-admin" id="dailyTable">
           <style>
            @media (max-width: 767px) {
              .dailyTable td:nth-of-type(1):before { content: "Question"; }
              .dailyTable td:nth-of-type(2):before { content: "Option"; }
              .dailyTable td:nth-of-type(3):before { content: "Total answers"; }
            }
          </style>
          <thead>
            <tr>
              <th>Question</th>
              <th>Option</th>
              <th>Total answers</th>

            </tr>
          </thead>

          <% @answers.each do |answer| %>
            <tr>
              <td><%= answer.question_code.to_s %></td>
              <td><%= answer.question_option_code.to_s %></td>
              <td><%= answer.total_answers.to_s %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <%= paginate @answers %>
    </div>
  </div>
</main>
