<%= define_grid(@grid, show_filters: :always, hide_submit_button: true, hide_reset_button: true, hide_csv_button: true) do |g|

  g.column name: Job.human_attribute_name(:id), attribute: 'id', filter: false do |job|
    job.id
  end

  g.column name: Job.human_attribute_name(:name), attribute: 'name', filter_type: :job_name_filter, detach_with_id: :job_name_filter do |job|
    link_to job.name.truncate(48), controller: "job_applications", action: "detailed", id: job.id
  end

  if !current_user.company_role?
    g.column name: Job.human_attribute_name(:company), assoc: [:company], attribute: 'name', filter_type: :job_company_filter, detach_with_id: :job_company_filter, custom_filter: :auto, allow_multiple_selection: false do |job|
      job.company.name
    end
  end


  g.column name: Job.human_attribute_name(:from_date), attribute: 'from_date', detach_with_id: :from_filter do |job|
    job.from_date.in_time_zone('Buenos Aires').strftime("%d/%m/%Y")
  end

  g.column name: Job.human_attribute_name(:end_date), attribute: 'end_date', detach_with_id: :end_filter do |job|
    job.end_date.in_time_zone('Buenos Aires').strftime("%d/%m/%Y")
  end

  g.column name: Job.human_attribute_name(:active), attribute: 'active', filter: :boolean, detach_with_id: :job_active_filter do |job|
    job.active
  end

  g.column name: 'Postulaciones', filter: false do |job|
    job.job_applications.count
  end

  g.column name: Job.human_attribute_name(:views), attribute: 'views', filter: false

  g.column in_csv: false, class: "actions_column" do |job|
    buffer = ""
    buffer += '<div class="btn-group btn-group-xs">'
      buffer += link_to '<span class="fa fa-eye"></span>'.html_safe, company_job_path(name_id: job.name_id, company_name_id: job.company.name_id), class:'btn btn-light btn-xs', target: :_blank
      buffer += button_tag '<span class="sr-only">Toggle Dropdown</span>'.html_safe, type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', class:'btn btn-xs btn-light dropdown-toggle dropdown-toggle-split'
      buffer += '<div class="dropdown-menu">'
        buffer += link_to '<span class="fa fa-edit"></span> Editar'.html_safe, edit_admin_job_path(job, page: params[:grid].present? ? params[:grid][:page] : 1), class:'dropdown-item'
        if job.active
          buffer += link_to '<span class="fa fa-toggle-on"></span> Desactivar'.html_safe, block_admin_job_path(job, page: params[:grid].present? ? params[:grid][:page] : 1), class:'dropdown-item'
        else
          buffer += link_to '<span class="fa fa-toggle-off"></span> Activar'.html_safe, block_admin_job_path(job, page: params[:grid].present? ? params[:grid][:page] : 1), class:'dropdown-item'
        end

        buffer += link_to '<span class="fa fa-trash text-danger"></span> <span class="text-danger">Eliminar</span>'.html_safe, admin_job_path(job), method: :delete, data: { confirm: t('admin.confirm') }, class:'dropdown-item'

        buffer += link_to '<span class="fa fa-eye"></span> Ver postulaciones'.html_safe, {controller: "job_applications", action: "detailed", id: job.id}, class:'dropdown-item'
      buffer += '</div>'
    buffer += '</div>'
    raw buffer
  end
end %>
