.admin{
  @import "fonts";
  @import "bootstrap-variables";
  @import 'bootstrap-datepicker';
  @import "bootstrap";
  @import "font-awesome";
  @import 'admin-theme';
  @import "wice_grid";
  @import 'office';
  @import "material_icons";


  .bootstrap-tagsinput {
    width: 100%;
    .label-info {
      background-color: #5bc0de;
      border-radius: 5px;
      padding: 3px;
    }
    .tag {
      padding-left: 3px;
    }
  }

  .job_skills i {
    font-size: 11px;
    background: #afafaf45;
    padding: 5px;
  }

  #logo-table{
      width: 100%;
      height: 50%;
      margin-bottom: 20px;
      border-color: gold;
      .container{
          @media (min-width: 768px) {
              width: 55vw;
          }
          width: 90vw;
          height: auto;
          overflow: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          .img-border{
              float:left;
              width: 150px;
              height: 25vh;
              position: relative;
              label{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              .img-add{
                  justify-content: left;
              }
              .delete-button{
                  position: absolute;
                  top: 0px;
                  right: 0px;
              }
              img{
                  height: 90%;
                  max-width: 90%;                
              }
          }
      }
  }

  .btn-create-logo-section{
      margin: 2em;
      position: relative;
      align-self: center;
  }

  .image-upload > input
  {
      display: none;
  }
  .image-upload > label{
      cursor:pointer;
  }

  .img-border{
      border-width: 1px;
      border-style: solid;
      border-color: black;
  }

  .table-img{
      width: 80%;
      height: auto;
  }

  .admin-collapsible-title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    display: block;
    margin-bottom: 1em;
  }

  #register-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .pricing-card{
      width: 26rem;
      border-radius: 10px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      text-align: center;
      @media screen and (min-width: 768px){
        width: 34rem;
        min-height: 53rem;
        align-self: stretch;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      @media screen and (min-width: 768px) and (max-width: 992px){
        padding-bottom: 14rem;
      }
      .pricing-card-header{
        background-color: $green;
        color: white;
        border-radius: 10px 10px 0px 0px;
        h3{
          padding: 1.5rem;
        }
        height: fit-content;
      }
      .pricing-card-body{
        padding: 1rem;
        .list-mobile{
          display: none;
          @media screen and (max-width: 768px){
            display: block;
          }
        }
        .list-desktop{
          display: block;
          @media screen and (max-width: 768px){
            display: none;
          }
        }
        i{
          color: $green;
        }
        ul{    
          text-align: left;
          li{
            margin-left: 0.8rem;
            @media screen and (min-width: 768px){
            margin-left: 2rem;
            }
          }
        }
        hr{
          border-color: gray;
          max-width: 75%;
          border-width: 1px;
        }
      }
      .pricing-card-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 768px){
          position: absolute;
          bottom: 0px;
          width: 100%;
        }
        position: inherit;
        padding: 1.5rem;
        bottom: 0px;
        p{
          color: gray;
          font-size: 0.9rem;
        }
        a{
          position: relative;
          font-size: 1.6rem;
          width: 90%;
          height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (min-width: 768px) and (max-width: 992px){
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .new-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2B83;
    color: white;
    border-radius: 10px;
    padding: 6px 14px;
    font-size: 1.2rem;
    transition: 300ms ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #00796B;
    margin: 0.5rem;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 1.428571429;
    
  }
}