.btn-nav{
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.btn-multimedia{
  padding: 0.375rem 1.75rem;
}

.column-sortable{
  border: 1px solid #B2DFDB;
  margin-top: 2px;
  margin-bottom: 2px;
  min-height: 50px;
}

.row-sortable{
  border: 1px solid #B2DFDB;
  margin-top: 2px;
  margin-bottom: 2px;
  min-height: 50px;
  width: 100%;

    .ui-sortable-handle{
      width: 20%;
    }

    .img-responsive-admin{
      height: 10vw;
    }

    .company-story-video-image img{
      height: 12.75vw !important;
    }
}

.company-margin {
    height: auto;
    margin-right: 15px;
    margin-bottom: 8px;
}
  
@media (max-width: 767px) {
    .company-right-padding {
        padding-right: 0px;
    }
  
    .company-margin{
        margin-right: 0px;
    }
}
  
.company-speech-author {
    position: relative;
    text-align: right;
    padding: 8px 10px 0px 10px;
    font-size: 12px;
    line-height:17px;
}
  
.company-speech-author-position {
    position: relative;
    text-align: right;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    font-family: "Lato Light";
    line-height:17px;
}

.company-story {
    margin: 0px 13.81px 7.36px 0px;
  
    > h3 {
      padding: 9.2px;
      font-weight: bold;
      font-size: 25.77px;
      color: #212121;
      margin: 0 auto;
      text-align: left;
    }
  
      > h3:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block;
      width: 75%;
      padding-top: 9.2px;
      border-bottom: 1px solid #B2DFDB;
      }
  
    > p {
      padding: 0px 9.2px 9.2px;
      font-size: 14.63px;
      font-weight: 300;
      color: #212121;
      margin: 0 0 9.2px 0;
      text-align: left;
    }
  
    > ul {
      font-size: 14.63px;
      font-family: "Lato Light";
      font-weight: 500;
      color: #212121;
      text-align: left;
      padding-bottom: 13px;
    }
}
  
@media (max-width: 767px) {
    .company-story{
      margin-left: 8px;
      margin-right: 8px;
    }
}  

.company-story-image {
    padding: 0px 13.8px 3.68px 0px;
    width:100%;
}
  
@media (max-width: 767px) {
    .company-story-image {
      padding: 0px 0px 3.68px 0px;
    }
}

.company-story-video-image {
	padding: 0px 13px 2px 0px;
  overflow: hidden;
	cursor: pointer;
	position: relative;
	margin-bottom: 13px;

	@media (max-width: 767px) {
		padding: 0px 0px 2px 0px;
	}
}

.company-story-video-image img {
  margin: -10% 0;
  width: 100%;
}

.company-story-video-image-caption {
  display:block;
  z-index: 50;
  position: absolute;
  margin-top:-62px;
  padding-left:13px;
  padding-right:13px;
  text-shadow: 1px 1px 3px #232323;
  color: #FFF;
  width:100%;
  font-size: 18px;
  text-align: center;
}

.company-story-video-image-caption-title {
  font-size: 18px;
  line-height: 25px;
	text-align: left;
  margin-left: 22%;
}

.company-story-video-image-caption {
  font-size: 16px;
  font-weight:400;
}

@media (max-width: 991px) {
  .company-story-video-image-caption-title {
  font-size: 18px;
  }

  .company-story-video-image-caption {
    font-size: 16px;
  }
}

.company-story-video-image-caption-position {
	font-size: 14.73px;
	text-align: left;
  margin-left: 22%;
}

.img-responsive-admin{
    display: block;
    max-width: 100%;
    height: auto;
}

.material-icons.companies-video-icon {
    color: #02C39A;
    font-weight: 300;
    display: block;
    position: absolute;
      left: 2%;
      top: 60%;
      font-size: 69px;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 10;
      background-image: radial-gradient(white 14px, transparent, transparent);
  }
  
  @media (max-width: 374px) {
    .material-icons.companies-video-icon {
      left: 2%;
      top: 60%;
      font-size: 80px;
    }
  }
  
  .material-icons.companies-main-video-icon {
      color: #02C39A;
    font-weight: 300;
    display: block;
    position: absolute;
      left: 37%;
      top: 68%;
      font-size: 80px;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 10;
      background-image: radial-gradient(white 14px, transparent, transparent);
  }
  
  @media (max-width: 991px) {
    .material-icons.companies-main-video-icon {
          left: 41%;
      top: 54%;
      font-size: 70px;
    }
  }
  
  @media (max-width: 374px) {
    .material-icons.companies-main-video-icon {
          left: 41%;
      top: 50%;
      font-size: 58px;
    }
  }

.rectangle-speech-border {
  position:relative;
  padding: 20px;
  text-align: left;
  color: #333;
  background: #FFF;
  font-size: 16.4px;
  font-family: "Noto", "Serif", sans-serif;
  font-style: italic;
  font-weight: bold;

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.rectangle-speech-border.mibucle-box {
    border-left: 5px solid #311B92;
    background: #02C39A;
}

.social-box.mibucle-box {
  border: 2px solid #02C39A;
  color: #FFF;
  background: #02C39A;
}

.sortable-nav{
  height: 100%;
}

strong{
    font-weight: bold;
}

.break-word{
  word-wrap: break-word;
}

.limit-chars{
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-thumbnail{
  max-width: 150px;
}

.btn-view-mo {
  color: white;
  background-color: #2DB08C;
  border-color: #2DB08C;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-view-mo:hover,
.btn-view-mo:focus,
.btn-view-mo.focus,
.btn-view-mo:active,
.btn-view-mo.active,
.open > .dropdown-toggle.btn-view-mo {
  color: white;
  background-color: #2f9b7e;
  border-color: #2f9b7e;
}


.oval-speech-border {
  position:relative;
  padding:31.74px 30px;
  margin:0.9em auto 54.4px;
  margin-left:15px;
  border:5px solid #02C39A;
  font-size: 14.5px;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 50px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 50px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 50px;
  -webkit-border-top-right-radius:240px 50px;
  -webkit-border-bottom-right-radius:240px 50px;
  -webkit-border-bottom-left-radius:240px 50px;
  -moz-border-radius:240px / 50px;
  border-radius:240px / 50px;
  p{
    margin-bottom: 0.9rem;
  }
}

/* creates larger curve */
.oval-speech-border:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-31px;
  right:50%;
  width:50px;
  height:30px;
  border-style:solid;
  border-width:0 5px 5px 0;
  border-color:#02C39A;
  margin-right:-5px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.oval-speech-border:after {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-31px;
  right:50%;
  width:20px;
  height:31px;
  border-style:solid;
  border-width:0 5px 5px 0;
  border-color:#02C39A;
  margin-right:20px;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-31px;
  right:50%;
  width:5px;
  height:5px;
  margin-right:44px;
  background:#02C39A;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-9px;
  right:50%;
  width:20px;
  height:15px;
  background:#fff;
}

.btn-delete-view{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-delete-rectangle-speech-border{
  position: absolute;
  margin-top: -15px;
  margin-left: -15px;
}

.btn-delete-oval-speech-border{
  position: absolute;
  margin-top: -25px;
  margin-left: -15px;
}

.admin_table{
  height: 100%;
}

.dropdown-btn{
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
}
