<div class="col-xs-12" style="margin-top: 50px;">
  <div class="row text-center">
    <h4 style="margin-bottom: 30px;">Una iniciativa de</h4>
    <div class="col-md-3 col-md-offset-3">
      <%= image_tag("ucema_desarrollo_profesional.png", alt:"Desarrollo profesional UCEMA", class:"special-event-partner-logo", loading: "lazy") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("ucema_escuela_de_negocios.png", alt:"Escuela de Negocios UCEMA", class:"special-event-partner-logo", loading: "lazy") %>
    </div>
  </div>
</div>
