<div class="col-xs-12">
  <div class="row">
    <% @company_logos.each do |company| %>
    	<% cache [:locale => I18n.locale, :company => company], :expires_in => 1.hour do %>
        <div class="col-md-3 text-center">
          <% if !@company_special_event.nil? && @company_special_event.code == "PortalEmpleoFinteChile" %>
        		<a href="<%= company_companies_jobs_path(company_name_id: company.name_id, special_event: (@company_special_event.code unless @company_special_event.nil?), token: (@company_special_event.token unless @company_special_event.nil?)) %>">
        	<% else %>
        		<a href="<%= company_path(company.name_id, special_event: @company_special_event.code, token: @company_special_event.token) %>">
        	<% end %>
              <img src="<%= company.logo(:thumbnail) %>" alt="<%= company.name %>" class="logo-img" loading="lazy">
          </a>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
