<div class="tabbable">
  <div class="tab-content" id="office-content-detail">
    <%= render partial: 'office_detail', locals: { office: @selected_office, office_id: @selected_office.id} %>
  </div>
</div>
