<ul id="multioffice_body_menu" class="multioffice textmenu">
  <% @offices.each_with_index do |office, index| %>
    <li 
    id="multioffice_body_<%= office.name_id%>"
      <% if (@selected_office_id.present? && @selected_office_id == office.id) || (@selected_office_id.nil? && index == 0 )%>
        class="active"
       <% end %>
    >
      <%= link_to "#{office.name}".html_safe, company_path(name_id: office.company.name_id, office_name_id: office.name_id), class: "multioffice_body", data: {id: office.name_id}, remote: true %>
    </li>
  <% end %>
</ul>
