<section class="no-padding" id="home_header">
  <div class="container-fluid">
    <div class="row no-gutter sections-special-event-banner">
      <div class="col-xs-12">
        <h3 class="text-center"><%= @company_special_event.section_one_title %></h3>
        <p>
          <%= @company_special_event.section_one_text.html_safe %>
        </p>
      </div>
    </div>
  </div>
</section>
