<div class="company-container">
  <% stories.each do |story| %>
    <div class="company-story">
      <h3><%= story.title.html_safe %></h3>
      <% story_detail = story.detail %>
      <% if story_detail.starts_with?('<p>') %>
        <%= story_detail.html_safe %>
      <% else %>
        <%= ('<p>' + story_detail + '</p>').html_safe %>
      <% end %>
    </div>
  <% end %>
</div>
