<%= define_grid(@grid, show_filters: :always, hide_submit_button: true, hide_reset_button: true) do |g|

  if !current_user.company_role?
    g.column name: JobApplication.human_attribute_name(:company), assoc: [:job,:company], attribute: 'name', filter_type: :job_application_company_filter, detach_with_id: :job_application_company_filter, custom_filter: :auto, allow_multiple_selection: false do |job_application|
      job_application.job.company.name
    end
  end

  g.column name: "Aviso", assoc: [:job], attribute: 'name', filter_type: :job_application_job_filter, detach_with_id: :job_application_job_filter do |job_application|
    truncate(job_application.job.name)
  end

  g.column name: "Postulante", assoc: [:user], attribute: 'name', filter_type: :job_application_user_filter, detach_with_id: :job_application_user_filter do |job_application|
    job_application.user.name if job_application.user.present?
  end

  g.column name: "email", assoc: [:user], attribute: 'email', detach_with_id: :email_filter

  g.column name: "País", assoc: [:user], attribute: 'country', custom_filter: countries_list, detach_with_id: :job_application_country_filter, allow_multiple_selection: false do |job_application|
    job_application.user.country if job_application.user.present?
  end

  g.column name: "Fecha", attribute: 'created_at', detach_with_id: :date_filter do |job_application|
    job_application.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y")
  end


  g.column in_csv: false, class: "actions_column" do |job_application|
    buffer = ""
    buffer += '<div class="btn-group btn-group-xs">'

        buffer += "<span class='space_actions'></span>"
        #buffer += link_to '<span class="fa fa-eye"></span>'.html_safe, job_application.user_cv.cv.url, class:'btn btn-light btn-xs', target: :_blank
        buffer += button_tag '<span class="sr-only">Más acciones</span>'.html_safe, type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', class:'btn btn-xs btn-light dropdown-toggle dropdown-toggle-split'
        buffer += '<div class="dropdown-menu">'
          buffer += link_to '<span class="fa fa-tasks"></span> Procesar'.html_safe, edit_admin_user_information_path(job_application.user, page: params[:grid].present? ? params[:grid][:page] : 1), class:'dropdown-item'
          buffer += '<div class="dropdown-divider"></div>'
          buffer += '<h6 class="dropdown-header">Cambiar estado a:</h6>'
          buffer += link_to '<span class="fa fa-circle text-light"></span> Pendiente de revisión'.html_safe, "/", class:'dropdown-item'
          buffer += link_to '<span class="fa fa-circle text-success"></span> Aceptada'.html_safe, "/", class:'dropdown-item'
          buffer += link_to '<span class="fa fa-circle text-danger"></span> Rechazada'.html_safe, "/", class:'dropdown-item'
          buffer += link_to '<span class="fa fa-plus-circle text-danger"></span> Rechazada positivamente'.html_safe, "/", class:'dropdown-item'
          buffer += link_to '<span class="fa fa-circle text-warning"></span> En standby'.html_safe, "/", class:'dropdown-item'



      buffer += '</div>'
    buffer += '</div>'
    raw buffer
  end
end %>
