<% content_for :title, t('users.header.registrations.new.title') %>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-body">
      	<%= render 'newform'%>
      </div>
    </div>
  </div>
</div>